@model SecretSantaWeb.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Person Details</h2>

<div>
    @Html.HiddenFor(model => model.BuyingFor)
    @Html.HiddenFor(model => model.NotBuyingFor)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Family.FamilyName)
        </dt>

        <dd>
            @Html.ActionLink(Model.Family.FamilyName, "Details", "Families", new { id = Model.FamilyID },null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>



        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyingFor)
        </dt>
        <dd>
            @(
            Model.BuyingForID == null
            ? Html.Raw("[Empty]")
            : Html.ActionLink(Model.BuyingFor.Name, "Details", "People", new { id = Model.BuyingForID }, null)
            )
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NotBuyingFor)
        </dt>
        <dd>
            @(
        Model.NotBuyingForID == null
        ? Html.Raw("[Empty]")
        : Html.ActionLink(Model.NotBuyingFor.Name, "Details", "People", new { id = Model.NotBuyingForID }, null)
            )
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
    @Html.ActionLink("Add Exclusion", "AddToPerson", "Exclusions", new { personID = Model.PersonID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
