@model SecretSantaWeb.Models.Exclusion

@{
    ViewBag.Title = "Details";
}

<h2>Exclusion Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.ActionLink(Model.Owner.Name, "Details","People",new { id = Model.OwnerID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotBuyingFor)
        </dt>

        <dd>
            @Html.ActionLink(Model.NotBuyingFor.Name, "Details", "People", new { id = Model.NotBuyingForID }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExclusionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
