@model IEnumerable<SecretSantaWeb.Models.Exclusion>

@{
    ViewBag.Title = "Index";
}

<h2>Exclusions Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExclusionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotBuyingFor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExclusionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotBuyingFor.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExclusionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExclusionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExclusionID })
        </td>
    </tr>
}

</table>
