@model SecretSantaWeb.Models.Family

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Family Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt>
            Family Members
        </dt><dd></dd>
        
        @foreach (var item in Model.FamilyMembers)
        {
            <dt></dt>
            <dd>
                    @Html.ActionLink(item.Name, "Details", "People", new { id = item.PersonID }, null)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyID }) |
    @Html.ActionLink("Add Member", "AddToFamily", "People", new { familyID = Model.FamilyID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
